body {
  background-color: black;
}

div {
  color: white;
}

h1 {
  text-align: center;
  color: white;
}

#playerNames {
  background-color: red;
}

#playerOne {
  float: left;
  text-align: center;
  font-style: bold;
  color: white;
}

#playerTwo {
  float: right;
  text-align: center;
  font-style: bold;
  color: white;
}

#playerScores {
  background-color: green;
}

#playerOneScore {
  float: left;
  text-align: center;
}

#playerTwoScore {
  float: right;
  text-align: center;
}


#question {
  background-color: yellow;
  margin: auto ;
  text-align: center;
  height: 50px;
}


#possibleAnswers {
  background-color: blue;
  list-style-type: none;
  text-align: center;
}