
<body>
  <h1>Welcome to codeQuiz</h1>
  {{> quizContainer}}
</body>
  
<template name="quizContainer">
  <div id="playerNames" class="row">
    <div id="playerOne" class="small-12 medium-6 large-6 columns">Player1</div>
    <div id="playerTwo" class="small-12 medium-6 large-6 columns">Player2</div>
  </div>
  <div id="playerScores" class="row">
    <div id="playerOneScore" class="small-12 medium-6 large-6 columns">Score1</div>
    <div id="playerTwoScore" class="small-12 medium-6 large-6 columns">Score2</div>
  </div>
  {{> questionAndAnswerContainer}}
</template>

<template name="questionAndAnswerContainer">
  <div id="questionAnswer" class="row">
    <div id="question" class="small-12 medium-12 large-12 columns">{{ question.body }}</div>
    <div id="possibleAnswers" class="small-12 medium-12 large-12 columns">
      <div>
        {{#each question.answers}}
          {{> answer}}
        {{/each}}
      </div>
    </div>
  </div>
  <div id="player1Icon"></div>
  <div id="player2Icon"></div>
</template>

<template name="answer">
  <li class="answer">{{answer}}</li>
</template>


